.listContainer {
  padding-left: 30px;
  margin: 0;
}

.listBox {
  width: 97vw;
  display: flex;
  flex-direction: column;
  height: 78vh;
  overflow: auto;
  box-sizing: border-box;
  padding: 0;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.taskWrapper {
  width: 80%;
  background-color: #adc4ce83;
  margin-bottom: 50px;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  /* height: 200px; */
}



.task {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.task > div {
  width: 30%;
  word-wrap: break-word;
}

.task > div:nth-child(2) {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
select {
  width: 50%;
  height: 40px;
}

.task > div:nth-child(3) {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.viewBtn {
  width: 90px;
  text-align: center;
  background-color: rgb(224, 9, 9);
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
}
.task > div:nth-child(4) {
  display: flex;

  /* text-decoration: none; */
  justify-content: space-around;
  align-items: center;
}

span {
  font-weight: bolder;
}

a {
  color: grey;
}

select {
  background-color: rgba(128, 128, 128, 0.288);
  border-radius: 10px;
}
select:hover {
  background-color: rgba(128, 128, 128, 0.562);
}

select:focus {
  outline: none;
}



.hideWeekDays {
  display: flex;
  justify-content: space-around;
  display: none;
}

.showWeekDays {
  display: flex;
  justify-content: space-around;
  list-style: none;


}

.showWeekDays li{
  min-width: 50px;
   background-color: darkcyan;
   color: white;
   text-align: center;
   padding: 5px 10px;
   border-radius: 5px;
}



.weekStatus{
  width: 8%;
display: flex;
justify-content: space-between;
align-items: center;
}