.mainBox {
  width: 100vw;
  height: auto;
}

.introDiv {
  margin: auto;
  margin-top: 4%;
  width: 45vw;
  /* border: 1px solid red; */
  height: 42vh;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

.heading {
  margin: 0;

  font-size: 4.2rem;
  line-height: 5rem;
}

.paragraph {
  font-size: 1.5rem;
  color: grey;
}

.redBtn {
  /* width: 20%; */
  background-color: rgb(224, 9, 9);
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
}
